{% assign wishlist_page_url = '/pages/wishlist' %}
<a
  href="{{ wishlist_page_url }}"
  class="header__icon link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
>
  {% render 'icon-heart' %}
</a>
